/* 改变主题色变量 */

#app {
    .el-button {
        font-weight: 400;
        border-radius: 2px;
    }
}

.el-dialog {
    border-radius: 2px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

.el-button--primary {
    --el-button-font-color: #ffffff;
    --el-button-background-color: #4D70FF;
    --el-button-border-color: #4D70FF;
    --el-button-hover-color: #0d84ff;
    --el-button-active-font-color: #e6e6e6;
    --el-button-active-background-color: #0d84ff;
    --el-button-active-border-color: #0d84ff;
}

.el-button--primary {
    --el-button-font-color: #ffffff;
    --el-button-background-color: #4D70FF;
    --el-button-border-color: #4D70FF;
    --el-button-hover-color: #0d84ff;
    --el-button-active-font-color: #e6e6e6;
    --el-button-active-background-color: #0d84ff;
    --el-button-active-border-color: #0d84ff;
}

:root {
    --el-color-primary: #4D70FF;
}

.gva-search-box {
    .el-collapse {
        border: none;
        .el-collapse-item__header,
        .el-collapse-item__wrap {
            border-bottom: none;
        }
    }
    padding: 24px;
    padding-bottom: 2px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 12px;
}

.el-form--inline{
    .el-form-item{
        margin-right: 24px;
    }
}

.el-input__inner{
    height: 40px;
    line-height: 40px;
}

.gva-form-box {
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
}

.gva-table-box {
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
}

.gva-pagination {
    display: flex;
    justify-content: flex-end;
    .el-pagination__editor {
        .el-input__inner {
            height: 32px;
        }
    }
    .el-pagination__total {
        line-height: 32px !important;
    }
    .btn-prev {
        padding-right: 6px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .number {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .btn-quicknext {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .btn-next {
        padding-left: 6px;
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .active {
        background: #4D70FF;
        border-radius: 2px;
        color: #ffffff !important;
    }
    .el-pager li.active+li {
        border-left: 1px solid #ddd !important;
    }
    .el-pagination__sizes {
        .el-input {
            .el-input__suffix {
                margin-top: 2px;
            }
        }
    }
}

.el-button--small {
    min-height: 32px;
    font-size: 12px !important;
}

.el-checkbox{
    height: auto;
}

.el-button {
    padding: 8px 16px;
    border-radius: 2px;
    &.el-button--text {
        padding: 8px 0;
    }
}

.el-dialog {
    padding: 12px;
    .el-dialog__body {
        padding: 12px 6px;
    }
    .el-dialog__header {
        .el-dialog__title {
            font-size: 14px;
            font-weight: 500;
        }
        padding: 2px 20px 12px 20px;
        border-bottom: 1px solid #E4E4E4;
    }
    .el-dialog__headerbtn {
        top: 16px;
    }
    .el-dialog__footer {
        padding: 0 16px 16px 0;
        .dialog-footer {
            .el-button {
                padding-left: 24px;
                padding-right: 24px;
            }
            .el-button+.el-button {
                margin-left: 30px;
            }
        }
    }
}

.el-drawer__body {
    padding: 0;
}

.el-date-editor .el-range-separator {
    line-height: 24px;
}

.el-select .el-input .el-select__caret.el-icon {
    height: 38px;
}

//--------------------以下开始
////头部logo和字体
//    //页面头部样式
//.chen-test-box {
//    width: 100%;
//    height: 80px;
//    //padding: 500px;
//    background-color: #377ebb;
//    //border-radius: 2px;
//}
////logo样式
//.demo-image {
//    //text-align: center;
//    padding:  10px 30%;
//    //display: inline-block;
//    //height: 0px;
//    //box-sizing: border-box;
//    //vertical-align: top;
//    //float: left;
//}
////字体样式
//.chen-test-title {
//    padding:  2px 35%;
//    //字体大小
//    font-size: 60px;
//    //字体粗细
//    font-weight: 500;
//    color: #FFFFFF;
//    //引入外部字体
//    font-family: 'QingNiaoHuaGuangXingKai';
//    float: left;
//    margin-top: -90px;
//    width: 150%;
//}
//----------------------以上开始

//头部logo和字体
.chen-test-title {
    margin-top: 0px;
    position: relative;
    //margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #377ebb;
    text-align: center;
    //字体大小
    font-size: 60px;
    //字体粗细
    font-weight: 500;
    color: #FFFFFF;
    //引入外部字体
    font-family: 'QingNiaoHuaGuangXingKai';
}
//横线
.chen-line0{
    float:right;
    width: 100%;
    height: 1px;
    margin-top: -0.5em;
    background:#d4c4c4;
    position: relative;
    text-align: center;
}
/* 竖线 */
.chen-line1{
    float: left;
    width: 0.1em;
    height: 2.5em;
    margin-right: 1em;
    margin-left: 3.5em;
    background:#f3f3f3;
}
//给一个高为1像素的盒子，盒子宽度根据要求设定，再设置盒子颜色，排列方式为相对定位，
// 盒子里设置文字给左右padding，并进行绝对定位到中间即可实现
.tableTitle {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 5px;
    background-color: #0a3d98;
    text-align: center;
    font-size: 16px;
    color: rgb(53, 55, 85);
}
.midText {
    position: absolute;
    left: 50%;
    background-color: #ffffff;
    padding: 0 15px;
    transform: translateX(-50%) translateY(-50%);
}
//第二条横线
//给一个高为.1像素的盒子，盒子宽度根据要求设定，再设置盒子颜色，排列方式为相对定位，
// 盒子里设置文字给左右padding，并进行绝对定位到中间即可实现
.tableTitle0 {
    position: relative;
    margin-top: 0px;
    //margin: 0 auto;
    width: 100%;
    height: 5px;
    background-color: #0a3d98;
    text-align: center;
    font-size: 16px;
    color: rgb(53, 55, 85);
}
.midText0 {
    position: absolute;
    left: 50%;
    background-color: #ffffff;
    padding: 0 15px;
    transform: translateX(-50%) translateY(-50%);
}
//全局输入框点击发光效果
input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
//第一个标题框及标题
//给一个高为.1像素的盒子，盒子宽度根据要求设定，再设置盒子颜色，排列方式为相对定位，
// 盒子里设置文字给左右padding，并进行绝对定位到中间即可实现
.tableTitle1 {
    position: relative;
    margin-top: 70px;
    //margin: 0 auto;
    width: 100%;
    height: 5px;
    background-color: #e0e8fc;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.midText1 {
    position: absolute;
    left: 50%;
    background-color: #ffffff;
    padding: 0 20px;
    //边框绝对定位transform 属性向元素应用 2D 或 3D 转换。该属性允许我们对元素进行旋转、缩放、移动或倾斜。
    transform: translateX(-50%) translateY(-50%);
    //边框圆角
    border-radius: 5px;
    //字体大小
    font-size: 30px;
    //字体粗细
    font-weight: 500;
}
.tableTitle2 {
    position: relative;
    margin-top: 35px;
    //margin: 0 auto;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.midText2 {
    position: absolute;
    left: 50%;
    background-color: #ffffff;
    padding: 0 20px;
    //边框绝对定位transform 属性向元素应用 2D 或 3D 转换。该属性允许我们对元素进行旋转、缩放、移动或倾斜。
    transform: translateX(-50%) translateY(-50%);
    //边框圆角
    border-radius: 5px;
    //字体大小
    font-size: 30px;
    //字体粗细
    font-weight: 500;
}
//以下暂未使用
/*最大屏幕分辨率为1280px*/
@media screen and (max-width:1280px){
    .content{
        width:20%
    }
}
/*最小屏幕分辨率为1280px且最大为1440px*/
@media (min-width: 1280px) and (max-width:1440px){
    .content{
        width:40%
    }
}
/*最小屏幕分辨率为1440px且最大为1680px*/
@media (min-width: 1440px) and (max-width:1680px){
    .content{
        width:60%
    }
}
/*最小屏幕分辨率为1920px*/
@media screen and (min-width:1920px){
    .content{
        width:100%
    }
}




